Repository juancho11gm/star-plus: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write ., stylelint, eslint --max-warnings 0

.lintstagedrc:

{
  "*.{css,scss,html,json,js}": [
    "prettier --write ."
  ],
  "*.{scss,css}": [
    "stylelint"
  ],
  "*.js": [
    "eslint --max-warnings 0"
  ]
}

feat(component): add accordion component
  css/desktop.css
  css/style.css
  css/tablet.css
  index.html
  js/main.js
Due: prettier --write ., stylelint, eslint --max-warnings 0

feat: #14 add pre sticky header
  css/desktop.css
  css/style.css
  css/tablet.css
  index.html
Due: prettier --write ., stylelint

feat: #14 add post sticky header
  css/desktop.css
  css/style.css
  css/tablet.css
  index.html
Due: prettier --write ., stylelint

refactor(component): create a class component for the accordion element
  .eslintrc.json
  css/style.css
  index.html
  js/animations/animations.js
  js/main.js
  js/views/accordion.js
Due: prettier --write ., stylelint, eslint --max-warnings 0

Feat/#12 acccordion component (#17)
  .eslintrc.json
  css/desktop.css
  css/style.css
  css/tablet.css
  index.html
  js/animations/animations.js
  js/main.js
  js/views/accordion.js
Due: prettier --write ., stylelint, eslint --max-warnings 0

Update index.html
  index.html
Due: prettier --write .

fix: #14 change class names of navbars, .navbar share styles
  css/desktop.css
  css/style.css
  css/tablet.css
  index.html
Due: prettier --write ., stylelint

fix: #14 change z-index
  css/style.css
Due: prettier --write ., stylelint

Feat/#14 header component (#16)
  css/desktop.css
  css/style.css
  css/tablet.css
  index.html
Due: prettier --write ., stylelint

refactor(architecture): split architecture by components
  .eslintrc.json
  .gitignore
  index.html
  js/main.js
  package-lock.json
  package.json
  src/components/Accordion/Accordion.animations.js
  src/components/Accordion/Accordion.js
  src/components/Accordion/Accordion.scss
  src/components/Accordion/Accordion.view.js
  src/components/Footer/Footer.js
  src/components/Footer/Footer.scss
  src/main.js
  src/styles/_mixins.scss
  src/styles/desktop.scss
  src/styles/main.scss
  src/styles/tablet.scss
  src/utils/dom/dom.js
  src/utils/dom/index.js
  stylelint.config.js
Due: prettier --write ., stylelint, eslint --max-warnings 0

refactor(architecture): split architecture by components (#18)
  .eslintrc.json
  .gitignore
  index.html
  js/main.js
  package-lock.json
  package.json
  src/components/Accordion/Accordion.animations.js
  src/components/Accordion/Accordion.js
  src/components/Accordion/Accordion.scss
  src/components/Accordion/Accordion.view.js
  src/components/Footer/Footer.js
  src/components/Footer/Footer.scss
  src/main.js
  src/styles/_mixins.scss
  src/styles/desktop.scss
  src/styles/main.scss
  src/styles/tablet.scss
  src/utils/dom/dom.js
  src/utils/dom/index.js
  stylelint.config.js
Due: prettier --write ., stylelint, eslint --max-warnings 0

refactor: split architecture by components
  src/components/Header/header.scss
  src/components/Hero/hero.scss
  src/components/Plans/plans.scss
  src/main.js
  src/styles/desktop.scss
  src/styles/main.scss
  src/styles/tablet.scss
Due: prettier --write ., stylelint, eslint --max-warnings 0

style: capitilize .scss files in components
  src/components/Header/Header.scss
  src/components/Hero/Hero.scss
  src/components/Plans/Plans.scss
  src/main.js
Due: prettier --write ., stylelint, eslint --max-warnings 0

feat: #13 add devices component in the components strategy
  img/console.png
  img/mobile.png
  img/pc.png
  img/tv.png
  index.html
  src/components/Devices/Devices.scss
  src/main.js
Due: prettier --write ., stylelint, eslint --max-warnings 0

Update README.md
  README.md
Due: none

feat: #13 devices component: add figure and figcaption elements to HTML. SCSS variables
  img/devices/console.png
  img/devices/mobile.png
  img/devices/pc.png
  img/devices/tv.png
  img/hero/hero-lg.jpg
  img/hero/hero-md.jpg
  img/hero/hero-sm.jpg
  img/plans/month-year.png
  img/plans/promo.png
  index.html
  src/components/Accordion/Accordion.scss
  src/components/Devices/Devices.scss
  src/components/Footer/Footer.scss
  src/components/Header/Header.scss
  src/components/Hero/Hero.scss
  src/components/Plans/Plans.scss
  src/styles/main.scss
Due: prettier --write ., stylelint

style: #13 devices component: Plans.scss selectors in .plan code block
  src/components/Plans/Plans.scss
Due: prettier --write ., stylelint

style: #13 devices component: change folder name img to public
  public/devices/console.png
  public/devices/mobile.png
  public/devices/pc.png
  public/devices/tv.png
  public/hero/hero-lg.jpg
  public/hero/hero-md.jpg
  public/hero/hero-sm.jpg
  public/plans/month-year.png
  public/plans/promo.png
  public/star-logo.svg
Due: none

style: #13 devices component: update images references
  index.html
  src/components/Hero/Hero.scss
  src/components/Plans/Plans.scss
Due: prettier --write ., stylelint

Feat/#13 devices component (#19)
  index.html
  public/devices/console.png
  public/devices/mobile.png
  public/devices/pc.png
  public/devices/tv.png
  public/hero/hero-lg.jpg
  public/hero/hero-md.jpg
  public/hero/hero-sm.jpg
  public/plans/month-year.png
  public/plans/promo.png
  public/star-logo.svg
  src/components/Accordion/Accordion.scss
  src/components/Devices/Devices.scss
  src/components/Footer/Footer.scss
  src/components/Header/Header.scss
  src/components/Hero/Hero.scss
  src/components/Plans/Plans.scss
  src/main.js
  src/styles/desktop.scss
  src/styles/main.scss
  src/styles/tablet.scss
Due: prettier --write ., stylelint, eslint --max-warnings 0

feat(javascript components): add javascript components and a simple router
  .eslintrc.json
  README.md
  index.html
  src/components/Accordion/Accordion.animations.js
  src/components/Accordion/Accordion.js
  src/components/Accordion/Accordion.view.js
  src/components/Header/Header.js
  src/components/Hero/Hero.js
  src/main.js
  src/pages/Error404/Error404.js
  src/pages/Error404/Error404.scss
  src/pages/Error404/index.js
  src/pages/Home/Home.js
  src/pages/Home/index.js
  src/routes/index.js
  src/utils/getRoute/getRoute.js
  src/utils/getRoute/index.js
Due: prettier --write ., stylelint, eslint --max-warnings 0

feat: #21 add plnas, devices and footer JS Components
  src/components/Devices/Devices.js
  src/components/Footer/Footer.js
  src/components/Plans/Plans.js
  src/pages/Home/Home.js
Due: prettier --write ., eslint --max-warnings 0

feat: #22: animation of arrow in hero component
  src/components/Hero/Hero.scss
Due: prettier --write ., stylelint

feat(javascript components): add javascript components and a simple r… (#21)
  .eslintrc.json
  README.md
  index.html
  src/components/Accordion/Accordion.animations.js
  src/components/Accordion/Accordion.js
  src/components/Accordion/Accordion.view.js
  src/components/Devices/Devices.js
  src/components/Footer/Footer.js
  src/components/Header/Header.js
  src/components/Hero/Hero.js
  src/components/Plans/Plans.js
  src/main.js
  src/pages/Error404/Error404.js
  src/pages/Error404/Error404.scss
  src/pages/Error404/index.js
  src/pages/Home/Home.js
  src/pages/Home/index.js
  src/routes/index.js
  src/utils/getRoute/getRoute.js
  src/utils/getRoute/index.js
Due: prettier --write ., stylelint, eslint --max-warnings 0

feat: #22: deletion of transform: translateY property
  src/components/Hero/Hero.scss
Due: prettier --write ., stylelint

feat: #22: add arrow hover in .hint class
  src/components/Hero/Hero.scss
Due: prettier --write ., stylelint

feat: #22: animation of arrow in hero component (#26)
  src/components/Hero/Hero.scss
Due: prettier --write ., stylelint

feat(component): add navbar animation
  src/components/Header/Header.scss
  src/components/Plans/Plans.js
  src/components/Plans/Plans.view.js
  src/styles/main.scss
  src/utils/constants.js
  src/utils/toggleElementOnScroll/index.js
  src/utils/toggleElementOnScroll/toggleElementOnScroll.js
Due: prettier --write ., stylelint, eslint --max-warnings 0

feat(component): add navbar animation (#28)
  src/components/Header/Header.scss
  src/components/Plans/Plans.js
  src/components/Plans/Plans.view.js
  src/styles/main.scss
  src/utils/constants.js
  src/utils/toggleElementOnScroll/index.js
  src/utils/toggleElementOnScroll/toggleElementOnScroll.js
Due: prettier --write ., stylelint, eslint --max-warnings 0

feat: add intersection observer, context and gsap
  components/Accordion/Accordion.animations.js
  components/Accordion/Accordion.scss
  components/Accordion/Accordion.view.js
  components/Accordion/index.tsx
  components/AccordionList/index.tsx
  components/Devices/Devices.scss
  components/Devices/index.tsx
  components/Footer/Footer.scss
  components/Footer/index.tsx
  components/Header/index.tsx
  components/Hero/Hero.module.scss
  components/Hero/index.tsx
  components/Layout/index.tsx
  components/Plans/Plans.module.scss
  components/Plans/index.tsx
  context/UIContext.tsx
  hooks/useIntersection.tsx
  package-lock.json
  package.json
  pages/_app.tsx
  pages/error404/Error404.scss
  pages/error404/index.tsx
  pages/index.tsx
  src/components/Plans/Plans.js
  src/components/Plans/Plans.view.js
  src/utils/constants.js
  src/utils/toggleElementOnScroll/index.js
  src/utils/toggleElementOnScroll/toggleElementOnScroll.js
  styles/theme.tsx
  styles/variables.scss
  tsconfig.json
Due: prettier --write ., stylelint, eslint --max-warnings 0

feat: update readme
  README.md
Due: none

fix: accordion animation
  components/Accordion/index.tsx
Due: none

feat: firebase auth
  .gitignore
  README.md
  components/Accordion/index.tsx
  components/Header/index.tsx
  context/UserContext.tsx
  firebase/client.ts
  hooks/useUser.ts
  package-lock.json
  package.json
  pages/_app.tsx
  pages/index.tsx
  tsconfig.json
Due: prettier --write .

feat: add plans component
  components/Button/styles.tsx
  components/Footer/index.tsx
  components/Header/styles.ts
  components/Plans/index.tsx
  components/Plans/styles.tsx
  pages/index.tsx
Due: none

feat: add styles from server side - _document.tsx
  pages/_document.tsx
Due: none
